<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Image Board</title>
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    
        <main id="main">
            <div id="main-container">
                <div class="header">
                    <header>
                        <h1>Upload your art here!</h1>
                    </header>
                </div>
                <div id="file-upload">
                    <div class="file-inputs">
                        <input v-model="title" name="title" placeholder="title">
                        <input v-model="username" name="username" placeholder="username">
                        <input v-model="description" name="description" placeholder="description">

                    </div>
                    <div class="file-submit">
                        <input 
                        name="file"
                        type="file" 
                        accept="image/*"
                        @change="setFile"
                        >
                        <button @click="upload">Upload</button>
                        <div v-if='bigFile' :id="bigFile" class="big-file">
                            <p><strong>File too big, please try again.</strong></p>
                        </div>

                    </div>
               </div>
               <div id="images-container">
                   <div v-if="images.length > 0" v-for="image in images">
                       <img @click="setId" :id="image.id" class="feed" :src="image.url" :alt="image.title"></img>
                       <h3>{{image.title}}</h3>
                    </div>                     
                </div>

                <div class="more-button" v-if="moreBtn" :id="moreBtn">
                    <button @click="loadMore">more</button>
                </div>

                <!-- <div id="top-btn">
                    <button>back to top</button>
                </div> -->

                <image-modal @change.self="changeId" @close="closeModal" @redirect="redirectModal" v-if='id' :id="id"></image-modal>

            </div>
           
        </main>


    
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
    <script src="/index.js"></script>
</body>
</html>
