* {
    box-sizing: border-box;
}

html,
body,
#main-container {
    height: 100%;
}

body {
    position: relative;
    display: block;
    margin: 0px;
    height: 100%;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.feed {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

#main-container {
    position: inherit;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
}
